:root {
  --footer-bg-color: #e5e5e5;
  --footer-text-color: #000000;
  --footer-visited-text-color: #000000;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  width: 100vw;
  height: 10vh;
  gap: 6px;
  font-size: 20px;
}

#gh-logo {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.footer div {
  gap: 6px;
}

.footer a,
.footer a:visited {
  text-decoration: none;
  color: var(--footer-visited-text-color);
}

.footer a:hover img {
  transform: rotate(1turn);
  transition: 1s;
}
