.hidden {
  display: none;
}

.hud {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
}

.hud a,
.hud a:visited {
  text-decoration: none;
  color: black;
}

#game-image {
  width: 99vw;
}

.instructions {
  color: black;
  font-size: 1.5rem;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgba(66, 66, 66, 0.8);
  width: 500px;
  height: 250px;
  position: fixed;
  top: 50vh;
  left: calc(50vw - 500px / 2);
}

.instructions .character-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: baseline;
}
