.hidden {
  display: none;
}

:root {
  --hud-bg-color: #14213d;
  --hud-text-color: #e5e5e5;
  --hud-hover-color: #fca311;
  --timer-bg-color: #ffffff;
  --timer-text-color: #000000;
  --game-bg-color: #e5e5e5;
  --game-text-color: #14213d;
  --instructions-bg-color: #14213d;
  --instructions-text-color: #ffffff;
  --instructions-button-hover-bg-color: #fca311;
  --instructions-button-hover-text-color: #ffffff;
  --character-text-color: #000000;
  --character-icon-highlight: #fca311;
  --selection-box-bg-color: #14213d;
  --selection-box-hover-bg-color: #fca311;
  --selection-box-text-color: #ffffff;
  --selection-box-hover-text-color: #14213d;
  --complete-h1-color: #fca311;
}

.hud {
  padding: 0px 20px;
  background-color: var(--hud-bg-color);
  color: var(--hud-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  position: sticky;
  top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 10;
}

.hud h1 {
  font-family: "Roboto Mono", monospace;
}

.game-container .character-icon.not-found {
  box-shadow: var(--character-icon-highlight) 0px 2px 2px,
    var(--character-icon-highlight) 0px 0px 2px 2px;
}

.hud a,
.hud a:visited {
  text-decoration: none;
  color: var(--hud-text-color);
}

.hud a:hover {
  color: var(--hud-hover-color);
  transition: 0.3s;
}

.timer {
  padding: 3px 10px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  font-size: 1.2rem;
  font-weight: 300;
  align-self: center;
  background-color: var(--timer-bg-color);
  color: var(--timer-text-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#score-text {
  font-weight: 500;
}

.leaderboard-link {
  align-self: center;
}

.game-container {
  background-color: var(--game-bg-color);
}

.game-container .characters {
  margin: 16px 4px;
  width: clamp(280px, 25%, 500px);
  height: 80px;
}
.game-container .character-icon {
  background-color: white;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.game-container .character-icon.found {
  filter: brightness(0.25);
}

#game-image {
  top: 112px;
  left: 2px;
  width: 99vw;
}

#game-image.blur {
  filter: blur(8px);
}

#game-image.dark {
  filter: brightness(0.25);
}

.instructions,
.completed {
  background-color: var(--instructions-bg-color);
  color: var(--instructions-text-color);
  font-size: 1.5rem;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: calc(50vh - 250px / 2);
  left: calc(50vw - 500px / 2);
}

.instructions h3 {
  font-weight: 500;
  margin: 3px;
}

.instructions .character-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: flex-start;
}

.instructions button {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 5px 0px;
  font-size: 1.2rem;
  align-self: center;
  width: 90px;
  height: 45px;
  border-radius: 5px;
}

.instructions button:hover,
.completed button:hover {
  background-color: var(--instructions-button-hover-bg-color);
  color: var(--instructions-button-hover-text-color);
  transition: 0.3s;
  cursor: pointer;
}

.character-select {
  width: 225px;
  background-color: var(--selection-box-bg-color);
  color: var(--selection-box-text-color);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: absolute;
}

.selection-box {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.selection-box .character-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 20px;
}

.selection-box:hover {
  background-color: var(--selection-box-hover-bg-color);
  color: var(--selection-box-hover-text-color);
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

.feedback {
  font-size: 2.5rem;
  font-weight: 600;
  width: 350px;
  height: 50px;
  position: fixed;
  top: calc(40vh - 475px / 2);
  left: calc(50vw - 350px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.feedback.correct {
  background-color: rgba(0, 128, 0, 0.65);
  color: rgb(0, 70, 0);
  border-color: rgb(0, 70, 0);
}

.feedback.incorrect {
  background-color: rgba(255, 0, 0, 0.65);
  color: rgb(87, 0, 0);
  border-color: rgb(87, 0, 0);
}

.completed {
  align-items: center;
  height: 350px;
  top: calc(50vh - 400px / 2);
}

.completed h1 {
  color: var(--complete-h1-color);
}

.completed h1,
.completed h3 {
  margin: 10px;
}

.completed .final-score {
  color: var(--complete-h1-color);
  font-weight: bold;
}

.completed button {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin: 5px 0px;
  font-size: 1.2rem;
  align-self: center;
  width: fit-content;
  height: auto;
  border-radius: 5px;
}

.completed .submit-score {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completed .submit-score input {
  padding-left: 12px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 5px 0px;
  font-size: 1.2rem;
  align-self: center;
  width: 225px;
  height: auto;
  border-radius: 5px;
}

.completed .bottom-row {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
